#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #88d3ce, #6e45e2);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li:not(:last-child) {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

h1 {
  text-align: center;
  margin-top: 80px;
  font-size: 48px;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  margin-top: 10px;
  font-size: 24px;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 10px;
  width: 80%;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

button[type="submit"] {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
  background-color: #6e45e2;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #884dff;
}

p {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
